* {
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    font-family: "Chakra Petch", sans-serif;
}
/* general */
.no-padding {
    padding: 0 !important;
}
.bg-while {
    background-color: white !important;
}
.color-black {
    color: black !important;
}
.active {
    background-color: #ff14937a;
}
.border-radius {
    border-radius: 10px;
}
.no-margin {
    margin: 0 !important;
}
/* end general */
/* header */
.bg-snow {
    width: 100%;
    height: 150px;
    background-color: #fff3f0;
}
.bg-snow h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.bg-snow h3 img {
    width: 35px;
    height: 35px;
    background-color: transparent;
}
.img--above ul li {
    width: 10%;
    height: 100px;
    display: inline-block;
}
.img--above img {
    width: 100%;
    height: 100%;
}
/* end header */
